<div id="post_show_content">
			<header>
				<p class="date"><%= @project.created_at.strftime('%A, %d %B')%></p>
				<h1 id="page_title"><%= @project.title%></h1>
				
			</header>
	<div class="skinny_wrapper wrapper_padding">

		<hr>

		<div id="content">
			<%= markdown@project.description%><hr>
			<div class="button_wrapper">
				<a href="<%= @project.link %>"  class="project_button"  target= "_blank">Visit <%= @project.title %></a>
			 </div>
		</div>


		<%= link_to "Edit", edit_project_path(@project) %>
		<%= link_to "Delete", project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>


		
	</div>
	</div>	
